* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Main styling source */
.container {
  display: flex;
}

.left {
  height: 100vh;
  width: 70%;
}

.right {
  height: 100vh;
  width: 30%;
  background: #7f7f7f;
}

.side-panel {
  height: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-align-content: space-around;
  align-content: space-around;
  margin-left: 25%;
}

.next-btn {
  background-color: transparent;
  border: solid #f0b203;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  width: 70%;
}

.next-btn:hover {
  background-color: #f0b203;
  cursor: pointer;
}
